
*{
  margin: 0;
  padding: 0;
}



body{
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(67,67,255,1) 50%, rgba(0,0,84,1) 100%);
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formTitle{
  border-bottom: 3px solid rgb(255, 255, 255,0.6);
  width: 5vw;
  color: #FFFFFF;
  margin:2VW ;
}
.container{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background: rgba(255,255,255,0.1);
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
  
  }
  form .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 35px;
    cursor: pointer;
    margin: 1vw;
    width: 6vw;
    height: 3vh;
    border: none;
    transition: 100ms;
  }
  form .btn:active{
    scale: 0.95;
  }
  form input{
    width: 70%;
    padding: 10px 20px;
    border-radius: 35px;
    border: none;
    background: rgba(255,255,255,0.2);
    margin-top:20px ;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #FFFFFF;
  }
form input::placeholder{
  color: #FFFFFF;

}


.formOption {
  color: white;

}
.formOption a{
  color: white;

}
.boxes .box{
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0, 0.5);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));

}
.boxes .box:nth-child(1){
top: 30vh;
right: 35vw;
width: 100px;
height: 100px;
}
.boxes .box:nth-child(2){
  top: 43vh;
  right: 62vw;
  width: 100px;
  height: 100px;
  z-index: 2;
  }
.boxes .box:nth-child(3){
  top: 60vh;
  right: 50vw;
  width: 60px;
  height: 60px;
}
    
.boxes .box:nth-child(4){
  top: 65vh;
  right: 36vw;
  width: 75px;
  height: 75px;
  z-index: 2;
}
.boxes .box:nth-child(5){
  top: 25vh;
  right: 55vw;
  width: 85px;
  height: 85px;
}
@keyframes animate{
  0%,100%{
    transform: translateY(-40px);
  }50%{
    transform: translateY(40px);

  }
} 
  
@media only screen and (max-width: 800px){
  .login{
    width: 50vw;
    height: 50vh;
  }
  .boxes .box:nth-child(2){
  
    z-index: -2;
  }
  .boxes .box:nth-child(4){
   
    z-index: -2;
  }
} 
